<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>successfully registration </title>
</head>
<body>
<div class="container" style="margin-top:40px" th:object="${employee}">
    <center><h1>Employee <i><span th:text="*{firstName}"/></i> Register successfully </h1></center>

    <h3> <a href="saveEmpDetails"> <center>Do you want to register another employee ?</center> </a> </h3>

    <!--<h3> <a href="getAllEmployees"> Show all saved employees. </a> </h3>-->
</div>
</body>
</html>