<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<meta charset="UTF-8"/>-->
    <!--<meta name="viewport" content="width=device-width,initial-scale=1"/>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

<!--</head>-->
<!--<title>Employees</title>-->
<!--<body>-->
<!--<div class ="container-fluid" style="margin-top:40px">-->
    <!--<div class="row">-->
        <!--<div class="col-md-9 col-md-offset-3">-->
            <!--<div class="panel panel-primary ">-->
                <!--<div class ="panel-heading">-->
                    <!--<h1 class ="panel-title">Employees list</h1></div>-->
           <!--<h3> <a href="saveEmpDetails"> Do you want to register another employee ? </a> </h3>-->
                <!--<table class="table">-->
                    <!--<head>-->
                        <!--<tr>-->
                            <!--<th >Employee Name </th>-->
                            <!--<th>MobileNumber </th>-->
                            <!--<th>Email </th>-->
                            <!--<th>Employee Code</th>-->
                        <!--</tr>-->

                        <!--<div class="table-responsivness">-->
                            <!--<tr th:each="employee:${employees}">-->
                                <!--<td th:text="${employee.firstName} + ${employee.lastName}"/>-->
                                <!--<td th:text="${employee.mobileNumber}"/>-->
                                <!--<td th:text="${employee.email}"/>-->
                                <!--<td th:text="${employee.empCode}"/>-->
                            <!--</tr>-->
                        <!--</div>-->
                    <!--</head>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

